/app/node_modules/
.vscode
/app/.idea
.idea/
.idea
.idea/workspace.xml
.vscode/
/server/static/*.html
/server/static/*.js
!/server/static/*.go
/cmd/miot*
/miot/
##git submodule updata --init --recursive
/configs/addons
/configs/config
/configs/log
/configs/media
/configs/data
.DS_Store
