[submodule "gateway-addon"]
	path = gateway-addon
	url = https://github.com/galenliu/gateway-addon.git
[submodule "gateway-grpc"]
    path = gateway-grpc
    url = https://github.com/galenliu/gateway-grpc.git
[submodule "app"]
	path = app
	url = https://github.com/galenliu/app.git
