<template id = mainMenu>
    <nav id="main-menu" class="hidden">
        <ul>
            <li><a id="home-menu-item" href="#"><span class="iconfont">&#xe64e;</span>家庭</a></li>
            <li><a id="rooms-menu-item" href="#"><span class="iconfont">&#xe8ed;</span>房间</a></li>
            <li><a id="rules-menu-item" href="#"><span class="iconfont">&#xe788;</span>自动化</a></li>
            <li><a id="logs-menu-item" href="#"><span class="iconfont">&#xe613;</span>日志</a></li>
            <li><a id="settings-menu-item" href="#"><span class="iconfont">&#xe654;</span>设置</a></li>
        </ul>
    </nav>
</template>