<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomeAutomation</title>
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../font/iconfont.css">
</head>
<body>
<header>
</header>
<div id="menu-scrim" class="hidden"></div>
<nav id="main-menu" class="hidden">
    <ul>
        <li><a id="home-menu-item" href="#"><span class="iconfont">&#xe64e;</span>家庭</a></li>
        <li><a id="rooms-menu-item" href="#"><span class="iconfont">&#xe8ed;</span>房间</a></li>
        <li><a id="rules-menu-item" href="#"><span class="iconfont">&#xe788;</span>自动化</a></li>
        <li><a id="logs-menu-item" href="#"><span class="iconfont">&#xe613;</span>日志</a></li>
        <li><a id="settings-menu-item" href="#"><span class="iconfont">&#xe654;</span>设置</a></li>
    </ul>
</nav>
<button id="menu-button" class="iconfont icon-button"> &#xe64b;</button>
</body>
</html>