#main-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30rem;
    background-color: #5288af;
    margin: 0;
    transition: transform 0.5s ease;
    z-index: 1000;
}

#main-menu.hidden {
    transform: translate(-32rem);
}

#main-menu ul {
    list-style-type: none;
    margin: 0;
    margin-top: 9.6rem;
    padding: 0;
    height: calc(100% - 9.6rem);
    max-height: calc(100% - 9.6rem);
    overflow: auto;
}

#main-menu a {
    display: block;
    padding: 2rem;
    padding-left: 6.8rem;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    background-size: 3.2rem;
    background-repeat: no-repeat;
    background-position: 2rem;
    outline: 0;
}


#main-menu a:hover,
#main-menu a.selected,
.log-out-button:hover,
.log-out-button.selected {
    background-color: rgba(0, 0, 0, 0.12);
}


#menu-button,
#back-button {
    top: 2rem;
    left: 2rem;
    z-index: 2001;
}


#menu-button {
    background: no-repeat center/100% url('../images/menu.svg');
}


@keyframes show-scrim {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes hide-scrim {
    from {
        opacity: 0.5;
        width: 100%;
    }

    to {
        opacity: 0;
        width: 100%;
    }
}

#menu-scrim {
    background-color: #000000;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    animation: show-scrim 0.1s ease 0s;
    z-index: 999;
}

#menu-scrim.hidden {
    animation: hide-scrim 0.25s ease 0s;
    width: 0%;
}

